.text {
  margin-left: auto;
}
.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-body {
  width: 100%;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: rgb(102, 0, 153);
  border-color: rgb(102, 0, 153);
}
.btn-primary:hover {
  background-color: rgb(255, 102, 0);
  border-color: rgb(255, 102, 0);
}

.main-img {
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}

.header {
  position: relative;
  margin-left: auto;
  text-align: center;
  padding-top: 1px;
  margin-top: 1px;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.img-body {
  width: 100%;
}

tr {
  background-color: white;
}

td {
  background-color: white;
}

#form-row {
  background-color:  rgb(102, 0, 153);
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: rgb(102, 0, 153);
  border-color: rgb(102, 0, 153);
}
.btn-primary:hover {
  background-color: rgb(255, 102, 0);
  border-color: rgb(255, 102, 0);
}

.button {
  background-color: rgb(102, 0, 153);
  border-color: rgb(102, 0, 153);
}

.button:hover {
  background-color: rgb(255, 102, 0);
  border-color: rgb(255, 102, 0);
}

.main-img {
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}

#heading {
  font-family: Arial;
  font-weight: bold;
  width: 100%;
  font-size: 50px;
  padding-left: 10px;
  background-color: rgb(102, 0, 153) !important;
}

#subHeading {
  font-family: Arial;
  font-style: italic;
  padding-left: 10px;
  background-color: rgb(102, 0, 153) !important;
}

.panel-body {
  background-color: rgb(102, 0, 153) !important;
  margin-right: 0;
  padding-right: 0;
}

.panel-heading {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.panel {
  background-color: rgb(102, 0, 153) !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}
.panel-title {
  font-weight: bold;
  padding-left: 10px;
  margin-right: 0;
  padding-right: 0;
  background-color: rgb(102, 0, 153) !important;
}

.table {
  background-color: rgb(102, 0, 153) !important;
}

.form-group2 {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(102, 0, 153) !important;
}

.btn2 {
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-color: white;
  color: rgb(102, 0, 153) !important;
}

.btn :hover {
  background-color: rgb(255, 102, 0) !important;
}

th {
  font-weight: bold;
}

.animation {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 29%;
  padding-top: 0;
}

.explanation {
  text-align: center;
  color: rgb(102, 0, 153) !important;
}

.nav-link {
  background-color: rgb(255, 102, 0) !important;
  border-color: rgb(255, 102, 0) !important;
  color: white !important;
}

.col-sm-2 {
  margin-left: 0;
  padding-left: 0;
}

.col-sm-10 {
  margin-right: 0;
  padding-right: 0;
}

.btn-lg{
  background-color: rgb(255, 102, 0) !important;
  border: 0;
  margin-left: 90%;
}